@font-face {
    font-family: "Kollektif";
    src: url("fonts/kollektif-webfont.woff"), url("fonts/kollektif-webfont.woff2");
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("fonts/glyphicons-halflings-regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Regular.otf"),
    url("fonts/Inter-Medium.otf"),
    url("fonts/Inter-Bold.otf")
;
}

body {
    overflow: overlay;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(256,256,256,0.25);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(256,256,256,0.5);
    border-radius: 10px;
}

.thick{
    background-size: 100vw;
}

.thin{
    background-size: auto 100vh;
}

*{
    font-family: Kollektif;
    color: white;
}

p{
    font-size: x-large;
}

.button-red {
    background-color: #e42d40;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    border-radius: 50px;
    font-weight: bold;
}

.button-blue {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    border-radius: 50px;
    font-weight: bold;
}

.button-light-blue {
    background-color: #80c1ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    border-radius: 50px;
    font-weight: bold;
}


.form-control {
    border-radius: 5px;
    border: none;
}



.button-black {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    font-weight: bold;
}

.button-green {
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    font-weight: bold;
}

.button-white{
    background-color: white;
    border: none;
    color: black; !important;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    font-weight: bold;
}

.button-white:link {
    text-decoration: none;
    color: black;
}

.button-white:visited {
    color: black;
    text-decoration: none;
}

.font-large {
    font-size: 30px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

.button-white:hover {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}


.card-header .fa {
    transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}

a light:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.warningShown{
    top: 5vh
}

.footer-area {
    padding-top: 120px;
    z-index:11;
}

.footer-txt{
    z-index: 11 !important;
}

.footer-bg {
    background: url('images/website-decor/Sea_Floor.svg') no-repeat scroll center bottom / 100% 100%;
}

.footer-top {
    margin-bottom: 150px;
}

.full-height {
    width: 100%;
    height: 50vh;
}

#angler {
    position: absolute;
    width: 20vw;
    height: 20vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) translateX(-10vw);
    animation: bob 7s infinite;
    font-size: 0;
    shape-rendering: crispEdges;
}

.panel-heading {
    padding: 0;
    border:0;
}
.panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
    color: #53D6E8;
    letter-spacing:1px;
    word-spacing:3px;
    text-decoration:none;
}

.panel-collapse>p{
    padding-left:30px;
}

.panel-heading  a:before {
    color: white;
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}
.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media screen and (max-width: 1400px) {
    .mobile-unfriendly {
        display: none;
    !important;
    }

    .mobile-friendly {
        display: block;
    !important;
    }

    .mobile-friendly-col {
        display: flex; !important;
    }
}

.email-link{
    font-size: 25px;
}
#fish1{
    width: 200px;
    height: 200px;
    overflow: hidden;
    animation: swimRight 30s infinite;
}

#fish2{
    width: 150px;
    height: 150px;
    animation: swimLeft 15s infinite;
}

#fish3{
    width: 175px;
    height: 175px;
    animation: swimRight 10s infinite;
}

#fish4{
    width: 160px;
    height: 160px;
    animation: swimLeft 25s infinite;
}


#fish5{
    width: 200px;
    height: 200px;
    animation: swimRight 35s infinite;
}

.diver{
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
    width: 15vw;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


@keyframes swimRight {
    0% {
        transform: translateX(-200px) scaleX(-1);
    }
    100%{
        transform: translateX(115vw) scaleX(-1);
    }
}

@keyframes swimLeft {
    0% {
        transform: translateX(115vw);
    }
    100%{
        transform: translateX(-500px);
    }
}

.sponsor-image{
    height: 12vh;
}

.social-media-icons{
    height: 5vh;
}